<h2>Cursos</h2>
<table class="table courses table-striped">
    <thead>
        <th>#</th>
        <th>Nome</th>
        <th>Nota Geral</th>
        <th>Nº de Alunos</th>
        <th></th>
    </thead>
    <tbody>
    </tbody>
</table>