<%= form_for @instituition do |f| %>
    <%= f.submit "Salvar", class: "btn btn-success" %>
    <div class="form-group">
        <h5>Nome</h5>
        <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="instituition-courses row">
        <%= f.fields_for :instituition_courses do |ff| %>
            <%= render "instituition_course_fields", f: ff %>
        <% end %>
        <%= link_to_add_association 'Adicionar Curso', f, :instituition_courses %>
    </div>
<% end %>