<div class="nested-fields col-md-3">
    <div class="form-group">
        <h5>Curso</h5>
        <%= f.select :course_id, options_from_collection_for_select(Course.by_name, "id", "name", f.object.course_id), {}, class: "form-control", required: true %>
    </div>
    <div class="form-group">
        <h5>Avaliação do Curso</h5>
        <%= f.number_field :course_evaluation, step: "0.01", class: "form-control" %>
    </div>
    <div class="form-group">
        <h5>Nota Geral dos Alunos</h5>
        <%= f.number_field :students_evaluation, step: "0.01", class: "form-control" %>
    </div>
    <div class="form-group">
        <h5>Quantidade de Alunos</h5>
        <%= f.number_field :students_count, class: "form-control" %>
    </div>
    <%= link_to_remove_association "Remover Curso", f %>
</div>