<h3>Editar Instituição</h3>
<%= render "form" %>
<%= link_to "Remover Instituição", instituition_path(@instituition), class: "btn btn-danger", method: :delete, data: {confirm: "Tem certeza que deseja remover este curso?"} %>