<h2>Instituições</h2>
<h3><%= link_to "Nova Instituição", new_instituition_path, class: "btn btn-success" %></h3>
<table border="0" cellspacing="5" cellpadding="5">
<table>
    <tbody>
    <tr>
        <td>Nota por Curso Mínima:</td>
        <td><input type="text" id="evaluationMin" name="evaluationMin"></td>
    </tr>
    <tr>
        <td>Nota por Curso Máxima:</td>
        <td><input type="text" id="evaluationMax" name="evaluationMax"></td>
    </tr>
    <tr>
        <td>Nota por Aluno Mínima:</td>
        <td><input type="text" id="studentMin" name="studentMin"></td>
    </tr>
    <tr>
        <td>Nota por Aluno Máxima:</td>
        <td><input type="text" id="studentMax" name="studentMax"></td>
    </tr>
    <tr>
        <td>Curso:</td>
        <td><%= select_tag :course, options_from_collection_for_select(Course.all, "id", "name"), {prompt: "Todos os Cursos"} %></td>
    </tr>
    </tbody>
</table>
<table class="table instituitions table-striped" id="instituitions">
    <thead>
        <th>#</th>
        <th>Nome</th>
        <th>Nota Geral</th>
        <th>Nota dos Alunos</th>
        <th></th>
    </thead>
    <tbody>
    </tbody>
</table>